{% extends 'base.html' %}
{% load custom %}
{% block title %}Documents{% endblock title %}
{% block content %}

<div class="container mb-5">
  <table id="myTable" class="table table-hover">
    <thead>
      <tr>
        <th>Document ID</th>
        <th>Document Name</th>
        <th>Uploaded On</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>

{% endblock content %}

{% block scripts %}
<script>
  new DataTable('#myTable', {
    order: [[0, 'asc']],
    ajax: "{% url 'documents:documents-list-data' %}",
    processing: true,
    serverSide: true,
    columns: [
        { data: 'doc_id' },
        { data: 'doc_name' },
        { data: 'uploaded_at' },
        { data: 'is_processed' },
        { data: null },
    ],
    layout: {
      topStart: 'info',
      topEnd: {
        search: {
            placeholder: 'Type search here'
        }
      },
      bottomStart: {
        pageLength: {
          menu: [10, 20, 30]
        }
      }
    },
    createdRow: (row, data, index) => {
      $(row).find('td:eq(4)').html('<button class="btn btn-primary">View Results</button>')
    }
  });
</script>
{% endblock scripts %}